@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap');
* {
    margin: 0;
    padding: 0;
    transition: .3s;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body{
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(img/BackgroundSuperman.jpg);
    min-height: 100vh;
    overflow-x: hidden;
}

body::before{
    content: '';
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 30%;
    background: linear-gradient(to right, transparent, #000000);
}

.container {
    position: relative;
    max-width: 1600px;
    margin: auto;
    min-height: 90vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    animation: FadeIn 1s linear forwards;
}

.navbar .left{
    display: flex;
    align-items: center;
}

.navbar .left .logo img{
    width: 80px;
    margin-right: 40px;
    margin-left: 40px;

}

.navbar .left ul{
    display: flex;
    list-style: none;
}

.navbar .left ul a{
    display: block;
    padding: 8px 20px;
    color: #fff;
}

.navbar .left ul a:hover{
    background: #fff;
    color: black;
    border-radius: 12px;
}

button{
    background: transparent;
    width: 0px;
}

.main-content{
    margin-top: 60px;
    padding: 0 6rem;
    padding-bottom: 10%;
}

.main-content h1,
.main-content h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #A5333A;
    animation: FadeIn 1s linear forwards;
    animation-delay: 600ms;
}

.main-content h1{
    font-size: 15rem;
    line-height: 170px;
}

.main-content h2{
    color: #75272c;
    font-size: 7rem;
}

.main-content .divider{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
    border-color: #676767;
}

.main-content .about-card{
    max-width: 60%;
    line-height: 30px;
    animation: FadeIn 1s linear forwards;
    animation-delay: 1s;
}

 p{
    font-family: "Fjalla One", sans-serif;
    color: #9d9c9c;
    text-transform: capitalize;
}

.main-content .about-container{
    width: 60%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    animation: 1s linear 1.3s 1 normal forwards running FadeIn;
    flex-direction: column;
}

video{
    border: solid 2px #9d9c9c;
    border-radius: 93px;
    height: 400px;
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.main-content .video{
    height: 400px;
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 20px 0;
    text-align: center;
}

@keyframes FadeIn {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to{
        opacity: 1; transform: translateY(-5px);
    }
}